---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

const pageTitle = "About";

const identity = {
	fullName: "Lucas Galdino",
	country: "Portugal",
};
const includeTitle = true; // This is just for later reference of Astro's capabilities.

const cssColor = "red";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		{includeTitle && <h1>{pageTitle}</h1>}
		<p class="whoami">
			My name is {identity.fullName}. I'm a Brazilian-Canadian student of
			biomedical engineering and data science living in
			{identity.country}. I also play music and am an Orthodox Christian.
			Welcome to my personal website and blog.
		</p>
		<p>
			This place is both my portfolio and personal blog. Here, you can
			find links to various coding and academic projects as well as
			articles and videos on topics that interest me. In this website, and
			in my YouTube channel, we'll explore topics on the intersection of
			coding and health, with maybe a pinch of philosophy here and there.
			If that interests you, I hope you might find my content informative
			or enjoyable. This is an experiment. I don't know where it will
			lead.
		</p>
		<Footer />
		<script>
		 import "../scripts/menu.js";
		</script>
	</body>
</html>
